/* Cell.css */

p {
    cursor: pointer;
    user-select: none;
    text-align: center;
}

.grid-cell {
    width: calc(500px / var(--grid-size));
    height: calc(500px / var(--grid-size));
    border: 2px solid black;
    background-color: #fff;
    font-size: 14px;
    cursor: pointer;
  }

.cell-number {
    font-size: 10px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 2px;
}

.cell-letter {
    font-size: calc(200px / var(--grid-size));
    text-align: center;
}
  
.toggled {
    background-color: black;
    width: calc(500px / var(--grid-size));
    height: calc(500px / var(--grid-size));
    border: 2px;
}
  