/* App.css */

html, body, #root {
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

.app {
  height: 100%;
  display: 'grid';
  grid-template-columns: 'auto auto';
  gap: '10px';
}

.spacer {
  height: 100%;
  width: 30%;
  float: left;
  /* border: 1px solid red; */
  box-sizing: border-box; /* Optional: This ensures that padding and borders don't affect the height */
  /* Add other styles as needed */
}

.grid_container {
  width: auto;
  height: auto;
  float: left;
  /* border: 1px solid red; */
  box-sizing: border-box; /* Optional: This ensures that padding and borders don't affect the height */
  /* Add other styles as needed */
}

.config_container {
  float: right;
  height: 80%;
  box-sizing: border-box; /* Optional: This ensures that padding and borders don't affect the height */
  /* Add other styles as needed */
}